<div class="history-list" *ngIf="enrichedHistory.length">
  <div class="history-card" *ngFor="let item of enrichedHistory">
    <div class="card-header">
      <span>{{ item.date }}</span>
    </div>

    <div class="rates">
      <div>OPEN: R$ {{ item.open || '-' }}</div>
      <div>HIGH: R$ {{ item.high || '-' }}</div>
      <div>LOW: R$ {{ item.low || '-' }}</div>
      <div>CLOSE: R$ {{ item.close }}</div>
    </div>

    <div class="diff" [ngClass]="{ 'up': item.closeDiff >= 0, 'down': item.closeDiff < 0 }">
      CLOSE DIFF (%): {{ item.closeDiff >= 0 ? '+' : '' }}{{ item.closeDiff }}%
    </div>
  </div>
</div>
